@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

.social {
  height: 64px;
  width: 64px;
}

#glossy {
  /* border: 1px solid yellow; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(30px);
  mask-image: linear-gradient(rgb(0, 0, 0) 0% ,rgb(0, 0, 0, .8) 60%, rgba(0, 0, 0, 0) 100%);
}

.clips {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
  /* line-height: 300px; */
}

.chars, .mask, .nav-button {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
  /* line-height: 300px; */
}

.mask {
  border-top: 1px solid white;
}

.ball{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.mf {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}